<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="phpunit.xsd"
         bootstrap="vendor/autoload.php"
         verbose="true">
    <php>
        <env name="DB_CONNECTION" value="pgsql"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_PORT" value="5432"/>
        <env name="DB_DATABASE" value="minefopstat"/>
        <env name="DB_SCHEMA" value="minefopstat"/>
        <env name="DB_USERNAME" value="minefopstat"/>
        <env name="DB_PASSWORD" value="minefopstat"/>
    </php>
    <testsuites>
        <testsuite name="reset-migration">
            <file>src/Xolens/PgLaratraining/Test/CleanSchemaTest.php</file>
        </testsuite> 
        <testsuite name="test-package1">
            <file>src/Xolens/PgLaratraining/Test/Repository/TrainingCenterRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/TrainingCenterConventionRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/TrainingCenterPartnerRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/TrainingDegreeRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/TrainingSpecialityRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/TrainingTypeRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/DiseaseRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/HandicapRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/ScholarshipRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/StudentRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/TrainerRepositoryTest.php</file>
        </testsuite>
        <testsuite name="test-package2">
            <file>src/Xolens/PgLaratraining/Test/Repository/StudentDegreeRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/StudentDiseaseRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/StudentHandicapRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/TrainerDegreeRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/TrainerDiseaseRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/TrainerHandicapRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/TrainingModuleRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/TrainingProposalRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/TrainingProposalLevelRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/TrainingProposalLevelModuleRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/StudentSubscriptionRepositoryTest.php</file>
        </testsuite>
        <testsuite name="test-repoview">
            <file>src/Xolens/PgLaratraining/Test/CleanSchemaTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/View/DiseaseViewRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/View/HandicapViewRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/View/ScholarshipViewRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/View/StudentViewRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/View/StudentDegreeViewRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/View/StudentDiseaseViewRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/View/StudentHandicapViewRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/View/StudentSubscriptionViewRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/View/TrainerViewRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/View/TrainerDegreeViewRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/View/TrainerDiseaseViewRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/View/TrainerHandicapViewRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/View/TrainingCenterViewRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/View/TrainingCenterConventionViewRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/View/TrainingModuleViewRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/View/TrainingCenterPartnerViewRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/View/TrainingDegreeViewRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/View/TrainingProposalViewRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/View/TrainingProposalLevelViewRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/View/TrainingProposalLevelModuleViewRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/View/TrainingSpecialityViewRepositoryTest.php</file>
            <file>src/Xolens/PgLaratraining/Test/Repository/View/TrainingTypeViewRepositoryTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
